

.wufoo {
    header {
        display:none !important;
    }

    font-family: $body-font-family;

    h1,h2,h3 {
        font-family: $header-font-family;
    }

    input.field.checkbox,
    input.field.radio,
    label.choice {
        display:inline-block;
    }

    input.field.checkbox,
    input.field.radio {
        margin: 0 .2rem 1rem 0;
    }
    label.choice {
        margin: 0 1rem 0 0;
    }

    label,
    select,
    textarea,
    legend,
    input {
        font-family: $input-font-family;
        margin-bottom: .5rem;
        font-size: $input-font-size !important;
    }

    label {
        line-height: $form-label-line-height;
    }


    input.text,
    textarea {
        padding : $input-padding;
    }

    li.focused {
        background : none;
    }

    select {
        display          : block;
        width            : 100%;
        height           : calc(2.25rem + 2px);
        padding          : $input-padding;
        line-height      : 1.5;
        color            : #495057;
        background-color : #fff;
        background-clip  : padding-box;
        border           : 1px solid #ced4da;
        border-radius    : .25rem;
        transition       : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .button,
    input[type="submit"] {
        display            : inline-block;
        vertical-align     : middle;
        margin             : 0 0 1rem 0;
        padding            : $button-padding;
        background-color   : $button-background;
        color              : $button-color;
        //border             : 1px solid #0000;
        border-radius      : 0;
        -webkit-transition : background-color 0.25s ease-out, color 0.25s ease-out;
        transition         : background-color 0.25s ease-out, color 0.25s ease-out;
        //font-family        : inherit;
        //font-size          : 0.9rem;
        -webkit-appearance : none;
        line-height        : 1;
        text-align         : center;
        cursor             : pointer;
        text-transform     : uppercase;
        &:hover {
            background-color : lighten($button-background, 20%);
        }
        //color              : #fefefe;
    }
}